-Q5osC7M7DThZaSx5WDnK.json
{
  "updatedAt": "2026-05-21T03:04:36.616Z",
  "createdAt": "2026-01-27T17:59:38.118Z",
  "id": "-Q5osC7M7DThZaSx5WDnK",
  "name": "System - Status Updater",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "de98e8c0-525e-4019-b3ca-9af6a73925c9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    o.id, \n    o.provider_order_id, \n    p.api_url, \n    p.api_key\nFROM orders o\n-- Join ไปหา Service เพื่อดูว่าใช้อันไหน (Main หรือ Backup ที่บันทึกไว้)\nJOIN services s ON o.service_id = s.id \n-- Join ไปหา Provider เพื่อเอา API Key/URL\nJOIN providers p ON s.provider_code = p.code\nWHERE \n    -- เช็คเฉพาะสถานะที่ \"ยังไม่จบ\"\n    o.status IN ('PENDING', 'PROCESSING', 'INPROGRESS') \n    -- และต้องมีเลข Order ID ของเว็บแม่แล้ว (ถ้าไม่มีคือยังไม่ได้ยิง)\n    AND o.provider_order_id IS NOT NULL;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "5e359481-cc09-43bd-ac42-4925d6b3f987",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "9069544a-39d2-4151-990a-302628ae0380",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $json.api_key }}"
            },
            {
              "name": "action",
              "value": "status"
            },
            {
              "name": "order",
              "value": "={{ $json.provider_order_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        688,
        16
      ],
      "id": "71d7ca89-4b01-40af-910a-958f916445f3",
      "name": "Check Status"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "  const item = $json.data !== undefined ? JSON.parse($json.data) : $json; // ข้อมูลจาก HTTP Request (Response จากเว็บแม่)\n\n  let providerStatus = item.status || \"PENDING\"; // ค่าที่เว็บแม่ส่งมา\n  let remains = item.remains || null; // ยอดคงเหลือ (ถ้ามี)\n  const dbItem = $(\"Loop Over Items\").item.json; // ข้อมูลจาก Database (ID ออเดอร์เรา)\n\n\n// แปลงสถานะเป็น Upper Case เพื่อให้เทียบง่าย\nlet cleanStatus = providerStatus.toString().toUpperCase().trim();\n\n// 🏷️ Mapping Status: แปลงเป็นภาษาเรา\nlet finalStatus = \"PENDING\"; // ค่า Default\n\nif ([\"COMPLETED\", \"SUCCESS\", \"FINISHED\"].includes(cleanStatus)) {\n    finalStatus = \"COMPLETED\";\n} else if ([\"PROCESSING\", \"INPROGRESS\", \"IN_PROGRESS\"].includes(cleanStatus)) {\n    finalStatus = \"PROCESSING\"; // หรือ INPROGRESS ตาม DB คุณ\n} else if ([\"PENDING\", \"Queued\"].includes(cleanStatus)) {\n    finalStatus = \"PENDING\";\n} else if ([\"PARTIAL\", \"PARTIALLY_COMPLETED\"].includes(cleanStatus)) {\n    finalStatus = \"PARTIAL\";\n} else if ([\"CANCELED\", \"CANCELLED\", \"FAIL\", \"REFUNDED\"].includes(cleanStatus)) {\n    finalStatus = \"CANCELED\";\n} else {\n    // กรณีเจอสถานะแปลกๆ ให้คงสถานะเดิมไว้ก่อน หรือ Log ไว้ดู\n    finalStatus = \"PROCESSING\"; \n}\n\nreturn {\n    json: {\n        order_id: dbItem.id,\n        provider_id: dbItem.provider_order_id,\n        new_status: finalStatus,\n        remains: remains,\n        start_count: item.start_count,\n        provider_status_raw: providerStatus // เก็บไว้ดูเล่นเผื่อ Debug\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        16
      ],
      "id": "79c4e8b2-0de1-4ca0-a993-2703adc3ccbd",
      "name": "Map Status"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders \nSET \n    status = $1, \n    remains = $2, -- อัปเดตยอดเหลือ (มีผลกับ logic refill)\n    updated_at = NOW() \nWHERE id = $3\nRETURNING id,link,status, quantity , remark,service_id ;",
        "options": {
          "queryReplacement": "={{ $json.new_status }},{{ $json.remains }},{{ $json.order_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1152,
        16
      ],
      "id": "9774bc7c-e94e-4a06-91f4-0238f3824d00",
      "name": "Update DB",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6722617990",
        "text": "=system updater\nid: {{ $json.id }}\nserviceId: {{ $json.service_id }}\nlink: `{{ $json.link }}`\nquantity: {{ $json.quantity }}\nสถานะ: {{ $json.status }}\nหมายเหตุ: {{ $json.remark }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1360,
        16
      ],
      "id": "9c0ca684-9d3d-4f7f-8c45-ff4d7978882c",
      "name": "Send a text message",
      "webhookId": "cd7ca210-761e-4183-a8a4-87cb556aeef5",
      "credentials": {
        "telegramApi": {
          "id": "YHVl3PrRYTraRpFY",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Map Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map Status": {
      "main": [
        [
          {
            "node": "Update DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update DB": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "657e20df-d035-488c-98d3-b9e075fa5317",
  "activeVersionId": "bbe35b08-e24f-4e2b-9466-c88eb29462a8",
  "versionCounter": 56,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-27T17:59:38.118Z",
      "createdAt": "2026-01-27T17:59:38.118Z",
      "role": "workflow:owner",
      "workflowId": "-Q5osC7M7DThZaSx5WDnK",
      "projectId": "VdvCQtNupwWhvvOM",
      "project": {
        "updatedAt": "2026-05-19T07:21:17.245Z",
        "createdAt": "2026-01-25T18:24:53.147Z",
        "id": "VdvCQtNupwWhvvOM",
        "name": "suthichai ssrivattanasup@gmail.com <ssrivattanasup@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9f196162-bc54-45fc-88cb-cacd294eaa4a"
      }
    }
  ]
}