12Y7IHOBtshE-ee8M47Qz.json
{
  "updatedAt": "2026-05-21T03:41:42.959Z",
  "createdAt": "2026-01-25T18:29:25.814Z",
  "id": "12Y7IHOBtshE-ee8M47Qz",
  "name": "Sub-Create Order",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH queue_check AS (\n    SELECT COUNT(*) as current_queue\n    FROM orders\n    WHERE service_id = $1\n    AND status IN ('PENDING', 'PROCESSING')\n)\nSELECT\n    -- ข้อมูลตัวหลัก\n    s.id as main_id, s.name, s.price as sale_price, s.cost_price as main_cost,\n    s.min_qty, s.max_qty, s.refill_service_id, s.price_tiers,\n    p.api_url as main_url, p.api_key as main_key, s.provider_service_id as main_pid,\n\n    -- ข้อมูลตัวสำรอง\n    bs.id as backup_id, bs.cost_price as backup_cost,\n    bp.api_url as backup_url, bp.api_key as backup_key, bs.provider_service_id as backup_pid,\n\n    -- ข้อมูลตัว refill\n    rs.id as refill_id, rs.cost_price as refill_cost,\n    rp.api_url as refill_url, rp.api_key as refill_key, rs.provider_service_id as refill_pid,\n\n    -- อื่นๆ\n    q.current_queue,\n    u.balance, u.id as user_db_id\nFROM services s\nLEFT JOIN services bs ON s.backup_service_id = bs.id \nLEFT JOIN services rs ON s.refill_service_id = rs.id\nLEFT JOIN providers p ON s.provider_code = p.code\nLEFT JOIN providers bp ON bs.provider_code = bp.code\nLEFT JOIN providers rp ON rs.provider_code = rp.code\nCROSS JOIN users u\nCROSS JOIN queue_check q\nWHERE s.id = $1 AND u.id = $2;",
        "options": {
          "queryReplacement": "={{ $json.service_id }}, {{ $json.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        -16
      ],
      "id": "4387cfa1-644b-4c20-827f-1a1e2c629aee",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "1c2a7c85-4461-41e9-ab4d-ea1eada03c67",
              "leftValue": "={{ $json.dependency_order_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        336,
        -16
      ],
      "id": "598851e3-71f6-4abc-951f-d124cb77d968",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Code').item.json.api_url }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $('Code').item.json.api_key }}"
            },
            {
              "name": "action",
              "value": "add"
            },
            {
              "name": "service",
              "value": "={{ $('Code').item.json.provider_service_id }}"
            },
            {
              "name": "link",
              "value": "={{ $('Code').item.json.link }}"
            },
            {
              "name": "quantity",
              "value": "={{ $('Code').item.json.qty }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        80
      ],
      "id": "2f20b56d-8a7b-4df9-9696-44a0b73f1808",
      "name": "HTTP Request",
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE users SET balance = balance - $1 WHERE id = $2;",
        "options": {
          "queryReplacement": "={{ $json.total_price }},{{ $json.user_db_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        80
      ],
      "id": "c839612f-1954-47a9-9471-d06b96fabe01",
      "name": "bill check",
      "credentials": {
        "postgres": {
          "id": "uLskUpTG7YjkikQt",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ==========================================\n// 1. รับข้อมูลเข้า (Inputs)\n// ==========================================\nconst item = $input.first().json; // ข้อมูลจาก Database (สินค้า, ราคา, คิว)\n\n// ⚠️ สำคัญ: ตรวจสอบชื่อ Node เริ่มต้นของคุณให้ตรง (เช่น \"Start\" หรือ \"Execute Workflow Trigger\")\nconst inputData = $(\"INPUTDATA\").first().json; \n\nconst qty = parseInt(inputData.quantity); // จำนวนที่จะยิงจริง (แอดมินรวมยอดแถมมาให้แล้ว)\nconst userBalance = parseFloat(item.balance);\n\n// ==========================================\n// 2. ระบบเลือกเส้นทาง (Failover Logic)\n// ==========================================\nlet finalServiceId = item.main_id;\nlet finalApiUrl = item.main_url;\nlet finalApiKey = item.main_key;\nlet finalProviderServiceId = item.main_pid;\nlet costPerUnit = parseFloat(item.main_cost);\nlet logRemark = inputData.remark || \"\"; // รับ Remark จากแอดมิน (ถ้ามี)\n\n// เงื่อนไข: ถ้าคิวเกิน 10 และ มีตัวสำรองเตรียมไว้\nif (parseInt(item.current_queue) > 20 && item.backup_id) {\n    // สลับไปใช้ข้อมูลตัวสำรอง\n    finalServiceId = item.backup_id;\n    finalApiUrl = item.backup_url;\n    finalApiKey = item.backup_key;\n    finalProviderServiceId = item.backup_pid;\n    costPerUnit = parseFloat(item.backup_cost);\n    \n    // บันทึก Log ต่อท้ายว่ามีการสลับเว็บ\n    logRemark = (logRemark ? logRemark + \" | \" : \"\") + `Auto-Switch to Backup (Q: ${item.current_queue})`;\n}\n\n// ==========================================\n// 3. คำนวณราคาขาย (Pricing Logic)\n// ==========================================\nlet totalPrice = 0;\n\n// 🔥 Case A: แอดมินระบุราคามาเอง (Custom Price)\n// (เช่น แบ่ง 6 ลิงก์: ลิงก์แรกคิดเต็ม, ลิงก์ที่เหลือใส่ 0)\nif (inputData.custom_price !== undefined && inputData.custom_price !== null && inputData.custom_price !== \"\") {\n    totalPrice = parseFloat(inputData.custom_price);\n} \n// 🛒 Case B: คำนวณตามตารางขั้นบันได (Normal Tier)\n// (สำหรับลูกค้ากดหน้าเว็บ หรือแอดมินไม่ได้ระบุราคามา)\nelse {\n    let finalPricePerUnit = parseFloat(item.sale_price); // ราคาเริ่มต้น (Fallback)\n\n    if (item.price_tiers && item.price_tiers.length > 0) {\n        // เรียงลำดับจาก มาก -> น้อย\n        const sortedTiers = item.price_tiers.sort((a, b) => b.min_qty - a.min_qty);\n        \n        // วนลูปหาเรทราคาที่ตรงกับจำนวนที่สั่ง\n        for (const tier of sortedTiers) {\n            if (qty >= tier.min_qty) {\n                finalPricePerUnit = parseFloat(tier.price);\n                break;\n            }\n        }\n    }\n    // คำนวณราคา: (เรทต่อพัน * จำนวนพัน)\n    totalPrice = finalPricePerUnit * (qty / 1000);\n}\n\n// ปัดเศษทศนิยม 2 ตำแหน่ง (กันเหนียว)\ntotalPrice = Math.round(totalPrice * 100) / 100;\n\n// ==========================================\n// 4. คำนวณต้นทุน (Cost Logic)\n// ==========================================\n// ต้นทุนคิดตามจริงเสมอ! (ต่อให้ขายลูกค้า 0 บาท แต่เราต้องจ่ายเว็บแม่)\nlet totalCost = costPerUnit * (qty / 1000);\ntotalCost = Math.round(totalCost * 100) / 100;\n\n// ==========================================\n// 5. ตรวจสอบความถูกต้อง (Validation)\n// ==========================================\nif (userBalance < totalPrice) {\n    throw new Error(`เงินไม่พอครับ (ยอด ${totalPrice} / มี ${userBalance})`);\n}\n\nif (qty < item.min_qty || qty > item.max_qty) {\n    // ยกเว้นกรณีเป็น Order แถม (custom_price = 0) อาจจะยอดน้อยกว่าขั้นต่ำได้ ถ้าเว็บแม่ยอมรับ\n    finalServiceId = item.refill_service_id;\n    finalApiUrl = item.refill_url;\n    finalApiKey = item.refill_key;\n    finalProviderServiceId = item.refill_pid;\n    costPerUnit = parseFloat(item.refill_cost);\n  \n    if (totalPrice > 0) { \n        throw new Error(`จำนวนต้องอยู่ระหว่าง ${item.min_qty} - ${item.max_qty}`);\n\n      logRemark = (logRemark ? logRemark + \" | \" : \"\") + `Auto-Switch to Backup (Q: ${item.current_queue})`;\n      \n    }\n\n}\n\n// ==========================================\n// 6. ส่งค่าออกไป (Return Output)\n// ==========================================\nreturn {\n    json: {\n        // ข้อมูลสำหรับอ้างอิง\n        user_db_id: item.user_db_id,\n        link: inputData.link,\n        start_count: inputData.start_count,\n        qty: qty,                 // ยอดบันทึกใน DB ร้านเรา\n        qty_to_send: qty,         // ยอดที่จะส่ง API (เท่ากัน เพราะแอดมินบวกมาแล้ว)\n        dependency_order_id: inputData.dependency_order_id || null, // ส่งต่อการรอคิว\n        \n        \n        // ข้อมูลสำหรับยิง API\n        service_id: finalServiceId, // ID ที่เลือกใช้จริง (Main หรือ Backup)\n        api_url: finalApiUrl,\n        api_key: finalApiKey,\n        provider_service_id: finalProviderServiceId,\n        \n        // ข้อมูลการเงิน\n        total_price: totalPrice,\n        cost_amount: totalCost,\n        remark: logRemark\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -16
      ],
      "id": "ddef010c-f2a9-44bb-a64a-6c2580ce1260",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO orders (user_id, service_id, link, quantity, status, cost_amount, sale_amount, dependency_order_id, remark)\nVALUES ($1, $2, $3, $4, 'QUEUED', $5, $6, $7, $8)\nRETURNING id , link , quantity , remark ;\n",
        "options": {
          "queryReplacement": "={{ $json.user_db_id }},{{ $json.service_id }},{{ $json.link }},{{ $json.qty }},{{ $json.cost_amount }},{{ $json.total_price }},{{ $json.dependency_order_id }},{{ $json.remark || 'WAITING' }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -128
      ],
      "id": "f2763024-c17c-4338-84aa-01bd0df92df5",
      "name": "Insert Order(Queued)",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO orders (\n    user_id, service_id, link, quantity,\n    status, provider_order_id,\n    cost_amount, sale_amount, remark , start_count\n)\nVALUES (\n    $1, $2, $3, $4,\n    'PENDING', $5,\n    $6, $7, $8 ,$9\n)\nRETURNING id , link , quantity , remark ;",
        "options": {
          "queryReplacement": "={{ $('Code').item.json.user_db_id }}, {{ $('Code').item.json.service_id }}, {{ $('Code').item.json.link }}, {{ $('Code').item.json.qty }}, {{ $json.order }},  {{ $('Code').item.json.cost_amount }}, {{ $('Code').item.json.total_price }}, {{ $('Code').item.json.remark || \"none\" }} , {{ $('Code').item.json.start_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1408,
        96
      ],
      "id": "9fdbcb32-e7cf-4204-bf3e-9686dc293638",
      "name": "Insert Order (Pending)",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- 1. คืนเงินลูกค้า (Refund)\nUPDATE users\nSET balance = balance + $1\nWHERE id = $2;\n\n-- 2. บันทึกออเดอร์สถานะ FAIL (จะได้รู้ว่าลูกค้าพยายามสั่ง)\nINSERT INTO orders (\n    user_id, service_id, link, quantity,\n    status, sale_amount, cost_amount, remark\n)\nVALUES (\n    $2, $3, $4, $5,\n    'FAIL', 0, 0,   -- ยอดขาย/ต้นทุนเป็น 0 เพราะคืนเงินแล้ว\n    'Error from Provider: ' || $6 -- เก็บ Error Message ไว้ดูต่างหน้า\n)\nRETURNING id , link , quantity , remark ;\n",
        "options": {
          "queryReplacement": "={{ $('Code').item.json.total_price }}, {{ $('Code').item.json.user_db_id }}, {{ $('Code').item.json.service_id }}, {{ $('Code').item.json.link }}, {{ $('Code').item.json.qty }}, {{ $json.error || $json.message || \"Unknown Error\" }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        336
      ],
      "id": "e24ccbbc-3f79-48e1-82b9-b42156b6d2a3",
      "name": "Insert Order (Fail)",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูลจาก Node ก่อนหน้า (ไม่ว่าจะมาจากเส้นไหน)\nconst inputData = $input.first().json;\nconst status = $('Code').first().json.dependency_order_id === null ? \n                $('HTTP Request').first().json.order ? \"PENDING\"  : \"FAIL\" \n                : \"QUEUED\";\n\n// จัด Format ให้เป็นมาตรฐานเดียวกัน ก่อนส่งกลับ Main\nreturn {\n    json: {\n        // ถ้ามี id ส่ง id, ถ้าไม่มีให้เป็น null\n        id: inputData.id || null, \n        \n        // ส่งสถานะกลับไป (สำคัญมาก เพราะ Main ต้องรู้)\n        status: status || 'UNKNOWN',\n        link: inputData.link || null,\n      start_count: $('Code').first().json.start_count,\n      quantity: inputData.quantity || null,\n        // ส่งข้อมูลอื่นๆ ที่ Main อาจจะอยากรู้\n        service_id: inputData.service_id,\n        remark: inputData.remark || \"Process Finished\"\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1696,
        -128
      ],
      "id": "3809e3a0-39d7-46ce-b976-5124445c7677",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "formTitle": "New Order",
        "formFields": {
          "values": [
            {
              "fieldName": "service",
              "fieldLabel": "Select Service",
              "fieldType": "dropdown",
              "defaultValue": "ig fol",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ig fol"
                  },
                  {
                    "option": "ig like"
                  },
                  {
                    "option": "ig view"
                  },
                  {
                    "option": "tt fol"
                  },
                  {
                    "option": "tt like"
                  },
                  {
                    "option": "tt view"
                  },
                  {
                    "option": "fb prof fol"
                  },
                  {
                    "option": "fb prof fol"
                  },
                  {
                    "option": "fb post like"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "link",
              "fieldLabel": "Link",
              "requiredField": true
            },
            {
              "fieldName": "quantity",
              "fieldLabel": "Quantity",
              "defaultValue": "100",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        -496,
        -176
      ],
      "id": "29ac3d93-3512-416f-b8d6-a596fa8d429f",
      "name": "On form submission",
      "webhookId": "633ad427-aa2b-46ef-827c-af580a4b8fe2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -16
      ],
      "id": "6c42897b-2030-41cb-863a-8fccb3758095",
      "name": "INPUTDATA1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ae42927c-684b-4f6c-a860-657ed9cd6eb7",
              "leftValue": "={{ $json.order }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        80
      ],
      "id": "982e8342-079d-4bf5-a42f-c286e86c54b3",
      "name": "is Create?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4f02843c-481e-4f69-9073-a78066d69aa0",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1168,
        -16
      ],
      "id": "d0ac7e18-ea46-4d7f-b206-2fefc73eb1c3",
      "name": "is have id?"
    },
    {
      "parameters": {
        "jsCode": "// รับข้อมูลจาก Node ก่อนหน้า (ไม่ว่าจะมาจากเส้นไหน)\nconst service_id = $input.first().json.service_id;\n\nreturn {\n    json: {\n      input: $input.first(),\n        user_id: $input.first().json.user_id,\n        service_id: service_id,\n        link: $input.first().json.link,\n        quantity: $input.first().json.quantity,\n        custom_price: $input.first().json.custom_price,\n        wait_for_prev: $input.first().json.wait_for_prev,\n        remark: $input.first().json.remark,\n        dependency_order_id: $input.first().json.dependency_order_id || null,\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        272
      ],
      "id": "a0aad276-9e2f-41fc-a0fa-9cd4da05595b",
      "name": "INPUTDATA ไม่ใช้แล้ว แต่เก็บไว้ดู",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        -16
      ],
      "id": "d5ae6c05-1c20-4800-bb19-417aa0e0a20d",
      "name": "INPUTDATA"
    }
  ],
  "connections": {
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert Order(Queued)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "bill check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "is Create?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bill check": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order (Pending)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order (Fail)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Order(Queued)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "INPUTDATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUTDATA1": {
      "main": [
        [
          {
            "node": "INPUTDATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is Create?": {
      "main": [
        [
          {
            "node": "is have id?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Order (Fail)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is have id?": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Order (Pending)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INPUTDATA ไม่ใช้แล้ว แต่เก็บไว้ดู": {
      "main": [
        []
      ]
    },
    "INPUTDATA": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "INPUTDATA1": [
      {
        "json": {
          "user_id": 1,
          "service_id": 112,
          "link": "https://www.instagram.com/p/DYkMq_SSA10/",
          "quantity": 2200,
          "start_count": 6,
          "custom_price": null,
          "wait_for_prev": false,
          "remark": "Original",
          "dependency_order_id": null
        }
      }
    ]
  },
  "versionId": "132c452e-86fb-49c0-b307-35f5ccc164fd",
  "activeVersionId": "132c452e-86fb-49c0-b307-35f5ccc164fd",
  "versionCounter": 135,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-25T18:29:25.814Z",
      "createdAt": "2026-01-25T18:29:25.814Z",
      "role": "workflow:owner",
      "workflowId": "12Y7IHOBtshE-ee8M47Qz",
      "projectId": "VdvCQtNupwWhvvOM",
      "project": {
        "updatedAt": "2026-05-19T07:21:17.245Z",
        "createdAt": "2026-01-25T18:24:53.147Z",
        "id": "VdvCQtNupwWhvvOM",
        "name": "suthichai ssrivattanasup@gmail.com <ssrivattanasup@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9f196162-bc54-45fc-88cb-cacd294eaa4a"
      }
    }
  ]
}