7gWqxhJ0-EYRYfGryAPEs.json
{
  "updatedAt": "2026-01-28T10:22:50.457Z",
  "createdAt": "2026-01-28T01:36:20.473Z",
  "id": "7gWqxhJ0-EYRYfGryAPEs",
  "name": "System - Queue Unlocker",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e06d4ec9-8c2c-41c2-9ada-f9b0a3120f25",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "b1fba3ec-e8c7-4b09-8209-18124dfe3f64",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "12Y7IHOBtshE-ee8M47Qz",
          "mode": "id",
          "cachedResultUrl": "/workflow/12Y7IHOBtshE-ee8M47Qz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        896,
        112
      ],
      "id": "e43e7f87-5135-4532-910f-be175ff613b8",
      "name": "Call 'Sub-Create Order'"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders \nSET \n    status = 'PENDING', \n    dependency_order_id = NULL, -- ปลดโซ่ตรวน\n    updated_at = NOW()\nWHERE id = $1\nRETURNING id,user_id,service_id, link, quantity,status , remark;",
        "options": {
          "queryReplacement": "={{$json.id}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        112
      ],
      "id": "35a87e36-ef06-4c99-a87e-511eca2bfff0",
      "name": "Unlock & Update",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    child.id, \n    child.user_id, \n    child.service_id, \n    child.link, \n    child.quantity,\n    -- ข้อมูลเสริมเผื่อใช้ Log\n    parent.id as parent_order_id,\n    parent.status as parent_status\nFROM orders child\nJOIN orders parent ON child.dependency_order_id = parent.id\nWHERE \n    child.status = 'QUEUED' \n    AND parent.status IN ('COMPLETED', 'PARTIAL', 'CANCELED');",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        0
      ],
      "id": "368e6869-33cc-4f0c-8a71-63fcfe93f4b7",
      "name": "Find Ready Jobs",
      "credentials": {
        "postgres": {
          "id": "Go2VCJWsQKpZt8vQ",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Find Ready Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Unlock & Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unlock & Update": {
      "main": [
        [
          {
            "node": "Call 'Sub-Create Order'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Ready Jobs": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "992b996b-f037-4007-a139-9fa122b7ad72",
  "activeVersionId": "992b996b-f037-4007-a139-9fa122b7ad72",
  "versionCounter": 32,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-28T01:36:20.473Z",
      "createdAt": "2026-01-28T01:36:20.473Z",
      "role": "workflow:owner",
      "workflowId": "7gWqxhJ0-EYRYfGryAPEs",
      "projectId": "VdvCQtNupwWhvvOM",
      "project": {
        "updatedAt": "2026-05-19T07:21:17.245Z",
        "createdAt": "2026-01-25T18:24:53.147Z",
        "id": "VdvCQtNupwWhvvOM",
        "name": "suthichai ssrivattanasup@gmail.com <ssrivattanasup@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9f196162-bc54-45fc-88cb-cacd294eaa4a"
      }
    }
  ]
}