pS6w1B6TW8IjVi6uSUZQL.json
{
  "updatedAt": "2026-05-20T05:25:49.113Z",
  "createdAt": "2026-01-25T19:35:43.958Z",
  "id": "pS6w1B6TW8IjVi6uSUZQL",
  "name": "Main - Order Dispatcher",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orders-bulk",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        320,
        48
      ],
      "id": "5174f3ee-b38a-41ad-9920-2740e4c7c796",
      "name": "Webhook",
      "webhookId": "17d55c10-2efe-47fe-8a3d-6e52de152fb4"
    },
    {
      "parameters": {
        "jsCode": "// ดึง Array orders ออกมาส่งต่อ\nreturn $input.first().json.body.orders.map(order => {\n    return { json: order };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        48
      ],
      "id": "a8ba86bb-1aec-45ed-9e6c-c58d6d56bba8",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        864,
        48
      ],
      "id": "aea5e067-e1a3-401f-b5d3-3142750358c5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "chatId": "6722617990",
        "text": "=ดำเนินการสร้างออเดอร์ \nid: {{ $json.id }}\nlink: `{{ $json.link }}`\nquantity: {{ $json.quantity }}\nสถานะ: {{ $json.status }}\nหมายเหตุ: {{ $json.remark }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1088,
        -208
      ],
      "id": "97d44fdb-0a27-4ff7-b364-e80314d08c80",
      "name": "Send a text message",
      "webhookId": "2bc3807c-affa-4905-a913-cf9abaa456fc",
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "YHVl3PrRYTraRpFY",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "12Y7IHOBtshE-ee8M47Qz",
          "mode": "id",
          "cachedResultUrl": "/workflow/12Y7IHOBtshE-ee8M47Qz"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1312,
        64
      ],
      "id": "54349322-e252-44de-99eb-0c8d35562cbb",
      "name": "Call Sub-Order",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 1. รับข้อมูลของรอบปัจจุบัน\nconst currentItem = $input.item.json;\nconst runIndex = $runIndex; // รอบที่เท่าไหร่ (เริ่มที่ 0, 1, 2...)\n\nlet dependencyId = null;\n\n// 2. เช็คเงื่อนไข: \"ต้องไม่ใช่รอบแรก\" และ \"มีคำสั่งให้รอ (wait_for_prev)\"\nif (runIndex > 0 && currentItem.wait_for_prev === true) {\n    \n    try {\n        // 3. ดึงข้อมูลจาก Node \"Call Sub-Order\" ของ \"รอบที่แล้ว\" (.last())\n        // ฟังก์ชันนี้จะไปหยิบ Output ล่าสุดที่ Node นั้นทำเสร็จมาให้\n        const previousRunData = $(\"Call Sub-Order\").last().json;\n        \n        // ถ้ามีข้อมูล และมี ID (แสดงว่าตัวก่อนหน้าสร้างออเดอร์สำเร็จ)\n        if (previousRunData && previousRunData.id) {\n            dependencyId = previousRunData.id;\n        }\n    } catch (error) {\n        // กรณีดึงไม่ได้ หรือ error ให้ข้ามไป (ปล่อยเป็น null)\n    }\n}\n\n// 4. ส่งข้อมูลต่อไปให้ Sub-Workflow\nreturn {\n    json: {\n        ...currentItem, // ข้อมูลเดิม (link, qty, service_id)\n        dependency_order_id: dependencyId // เพิ่ม ID ของแม่ที่ต้องรอเข้าไป\n    }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        64
      ],
      "id": "a96e1e3e-66fc-4f80-8364-8a2f97160c51",
      "name": "Code1"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1296,
        -112
      ],
      "id": "ab2826a0-18fa-406d-9f04-33156fb6a6d8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const ids = $input.all().map(item => item.json.id);\n\nreturn [\n  {\n    json: {\n      message: \"Received successfully\",\n      created_ids: ids\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        -48
      ],
      "id": "90ef2321-9110-48f5-a3f4-8b08538560b7",
      "name": "Code in JavaScript"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Sub-Order": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Call Sub-Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "lustily-specifiable-bruna.ngrok-free.dev",
            "user-agent": "Mozilla/5.0 (compatible; Google-Apps-Script; beanserver; +https://script.google.com; id: UAEmdDd86pnLtFHiz-_Ac3hP95ptkJRJA2A)",
            "content-length": "347",
            "accept-encoding": "gzip, deflate, br",
            "content-type": "application/json",
            "x-forwarded-for": "1.20.94.245, 34.116.22.105",
            "x-forwarded-host": "lustily-specifiable-bruna.ngrok-free.dev",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "orders": [
              {
                "service_id": 211,
                "link": "https://www.tiktok.com/@rocketboost_official/video/7598815405167136008",
                "quantity": 100,
                "custom_price": null,
                "wait_for_prev": false,
                "remark": ""
              },
              {
                "service_id": 221,
                "link": "https://www.tiktok.com/@rocketboost_official/video/7598815405167136008",
                "quantity": 100,
                "custom_price": null,
                "wait_for_prev": true,
                "remark": ""
              }
            ]
          },
          "webhookUrl": "https://lustily-specifiable-bruna.ngrok-free.dev/webhook/api/new-order",
          "executionMode": "production"
        }
      }
    ]
  },
  "versionId": "5f36b5d1-b1a2-42b9-8966-2793b2b262bf",
  "activeVersionId": "5f36b5d1-b1a2-42b9-8966-2793b2b262bf",
  "versionCounter": 129,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-01-25T19:35:43.958Z",
      "createdAt": "2026-01-25T19:35:43.958Z",
      "role": "workflow:owner",
      "workflowId": "pS6w1B6TW8IjVi6uSUZQL",
      "projectId": "VdvCQtNupwWhvvOM",
      "project": {
        "updatedAt": "2026-05-19T07:21:17.245Z",
        "createdAt": "2026-01-25T18:24:53.147Z",
        "id": "VdvCQtNupwWhvvOM",
        "name": "suthichai ssrivattanasup@gmail.com <ssrivattanasup@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "9f196162-bc54-45fc-88cb-cacd294eaa4a"
      }
    }
  ]
}